<div class="container py-5">
    <div class="row">
        
        <!-- Container com o formulário de contato à direita -->
        <div class="col-6">
            <div class="contact-us-container">
                <h2>Entre em Contato</h2>
                
                <form (submit)="onSubmit()">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" id="name" [(ngModel)]="contact.name" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" [(ngModel)]="contact.email" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="message">Mensagem:</label>
                        <textarea id="message" [(ngModel)]="contact.message" class="form-control" rows="5" required></textarea>
                    </div>

                    <div class="float-right">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                    
                </form>
            </div>
        </div>

        <!-- Container para a nova imagem à esquerda -->
        <div class="col-6">
            <img src="path/to/your/image.jpg" alt="Descrição da imagem" class="img-fluid">
        </div>

    </div>
</div>