<div class="about-us-content">
    <h1>Sobre</h1>
    <p>Seja bem vindo ao nosso site, aqui você vai encontrar um pouco da nossa história e o motivo pelo qual decidimos dedicar nossas vidas a produção de um chopp de qualidade utilizando uma combinação de maltes e lúpulos importados para fugir do padrão da industria cervejeira e trazer um toque interstellar no sabor das nossas bebidas.</p>
    <p>O nosso diferencial é realmente o sabor e a utilização de suprimentos de alta qualidade fazendo com que nosso chopp seja apreciado até pelos consumidores menos acostumados com o amargor</p>
</div>
