
.event-card h3 {
    color: rgb(33, 0, 45);
    margin-bottom: 10px;
}

.event-description {
    margin-bottom: 15px;
}

.event-timer {
    font-weight: bold;
    margin-bottom: 15px;
}

.event-more-btn {
    background-color: rgb(33, 0, 45);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 5px;
}

.event-more-btn:hover {
    background-color: white;
    color: rgb(33, 0, 45);
    border: 1px solid rgb(33, 0, 45);
}

.btn-details:hover {
    background-color: #555;
}

// Estilos padrão (para mobile)
.event-card {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
}

.event-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.3;
    padding: 20px;
    text-align: center;
}

.flyer-container {
    flex: 0.7;
    position: relative;
    overflow: hidden;
}

.event-flyer {
    max-width: 100%;
    display: block;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: bold;
    color: white !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-details {
    background-color: #333;
    color: white !important;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-details:hover {
    background-color: #555;
}

.no-events-message {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-top: 50px;  /* Adiciona uma margem superior de 50px */
}

@media (max-width: 767px) {
    .event-card {
        flex-direction: column;
        align-items: center; // Centraliza o conteúdo
    }

    .event-details, .flyer-container {
        width: 100%; // Ambos os elementos ocuparão toda a largura em dispositivos móveis
    }

    .flyer-container {
        margin-top: 20px; // Adiciona espaço entre os detalhes do evento e o flyer
    }
}