<h1 class="mt-5">Cervejas Interstellares</h1>

<div class="products-container mt-5">  
    <div *ngFor="let product of products" class="product-card">
        <h4 class="corBranca">{{ product.name }}</h4>
        <div class="image-container">
            <img [src]="product.img" alt="{{ product.name }}" class="imagem1">
            <i class="fa fa-search-plus loupe-icon" *ngIf="isDesktop" (click)="showImageInPopup(product.img)"></i>
        </div>           
        <h5 class="corBranca mt-3">{{ product.description }}</h5>
        <p class="corBranca">{{ product.abvIbu }}</p>
        <p class="corBranca">Preço: R${{ product.price }}</p>
        <p class="corBranca">{{ product.amount }}</p>
        <div class="btn-container">
            <button type="button" class="botaoNavhiBranco mt-2" [disabled]="product.units === 0"
             (click)="productSelected(product)" >{{ product.units === 0 ? 'Esgotado' : 'Eu quero!' }}</button>
        </div>
    </div>
</div>
