<app-age-verification *ngIf="isAgeVerified == null" (ageVerified)="onAgeVerified($event)"></app-age-verification>
<app-prohibited-content *ngIf="!isAgeVerified && showUnderage"></app-prohibited-content>


<div class="container" *ngIf="isAgeVerified">
  <div class="header">
    <nav class="navbar">
      <div class="logo pb-3">
        <a routerLink="/">
          <img src="assets/imgs/logo.avif" alt="Logo da Cervejaria" class="img-fluid mr-1 pd-0" style="max-width: 25px;">
          <span class="fs-24">Navhi</span>
        </a>
      </div>

      <!-- Hamburger menu -->
      <button class="hamburger-menu" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>

      <ul class="nav-links" #navMenu>
        <li><a routerLink="/chopps" (click)="toggleMenu()">Chopps</a></li>
        <li><a routerLink="/eventos" (click)="toggleMenu()">Eventos</a></li>
        <li><a routerLink="/sobre" (click)="toggleMenu()">Sobre a Navhi</a></li>
        <li><a routerLink="/contato" (click)="toggleMenu()">Vem Trocar ideia</a></li>
      </ul>
    </nav>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
    <div class="text-center mt-5 fonteNavhi">
      &copy; {{ currentYear }} Navhi. Todos os direitos reservados. Desenvolvido por : <a class="corRoxa"
        href="https://www.instagram.com/guilherme.volpe/">Guilherme Volpe</a>
    </div>
  </div>
</div>