<h2 class="mt-5">Chopps Interstellares</h2>

<div class="products-container mt-5">  
    <div *ngFor="let product of products" class="product-card">
        <h3 class="corBranca">{{ product.name }}</h3>
        <div class="image-container">
            <img [src]="product.img" alt="{{ product.name }}" class="imagem1">
        </div>        
        <p class="corBranca">{{ product.description }}</p>
        <p class="corBranca">Ingredientes: {{ product.ingredients }}</p>
        <p class="corBranca">Preço: R${{ product.price }}</p>
        <div class="btn-container">
            <button type="button" class="botaoNavhiBranco mt-2" (click)="productSelected(product)" >Eu quero!</button>
        </div>
    </div>
</div>
