/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'NavhiFont';
    src: url('/assets/fonts/NavhiFont.otf') format('opentype');
}

body,
button,
input,
textarea, p, h1, h2, h3, h4, h5 {
    font-family: 'NavhiFont';
    color: rgb(33, 0, 45) !important;
    /* Use the name you've provided in @font-face */
}

img {
    max-width: 100%;
    height: auto;
  }
  
.corBranca{
    color: white !important;
}

.corFundoRoxa {
    background-color: rgb(33, 0, 45) !important;
    width: 100%; 
    padding: 50px 0;
}

a, label, input, button {font-family: 'NavhiFont';}

.content {
    background-color: white;
}

.botaoNavhi {
    background-color: rgb(33, 0, 45);
    color: white !important;  /* Defini a cor do texto para branco para contraste. Ajuste conforme necessário. */
    border: solid 2px rgb(33, 0, 45) ;
    border-radius: 5px; /* Borda arredondada. Ajuste conforme necessário. */
    padding: 10px 20px; /* Espaçamento interno para o botão. Ajuste conforme necessário. */
    cursor: pointer;
    transition: all 0.3s; /* Transição suave para hover e active */
    text-decoration: none; /* Se for um link estilizado como botão */
    font-family: 'NavhiFont'; /* Herda a fonte do elemento pai. Ajuste conforme necessário. */
}

.botaoNavhi:hover {
    background-color: white !important; /* Um pouco mais claro no hover */
    border: solid 2px rgb(33, 0, 45) ;
    color: rgb(33, 0, 45) !important;
}

.botaoNavhi:active {
    background-color: rgba(33, 0, 45, 0.8); /* Ainda mais claro no estado ativo */
    transform: scale(0.95); /* Faz o botão parecer um pouco pressionado quando ativo */
}

/* Se o botão for um link, remova o sublinhado */
.botaoNavhi:link, .botaoNavhi:visited {
    text-decoration: none;
}


.botaoNavhiBranco {
    background-color: white;
    color: rgb(33, 0, 45) !important;
    border: 2px solid rgb(33, 0, 45); /* Bordas definidas conforme solicitado */
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    font-family: 'NavhiFont';

    /* Efeitos adicionais para hover e active, para uma melhor interação do usuário */
    &:hover {
        background-color: rgba(33, 0, 45, 0.1); /* Uma leve mudança de cor no hover */
        color: white !important;
        border: solid 2px white;
    }

    &:active {
        background-color: rgba(33, 0, 45, 0.2); /* Uma cor ligeiramente mais escura no active */
        transform: scale(0.95); /* Faz o botão parecer um pouco pressionado quando ativo */
    }
}

//Spacing
.ml-1 {
    margin-left: 10px !important;
}

.mr-1 {
    margin-right: 10px !important;
}

.pd-0{
    padding: 0 !important;
}

.pb-3 {
    padding-bottom: 32px;
}

.float-right{
    float: right;
}

//Configuração de fontes
.fs-16{
    font-size: 16px !important;
}

.fs-17{
    font-size: 17px !important;
}

.fs-18{
    font-size: 18px !important;
}

.fs-24{
    font-size: 24px !important;
}