<div class="hero-image text-center d-flex align-items-center justify-content-center">
    <div>
        <h1 class="display-4 text-white">Seja bem-vindo à Navhi</h1>
        <p class="lead text-white">Apertem os cintos que vamos decolar juntos</p>
    </div>
</div>
<div class="corFundoRoxa">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="letraBranca">Navhi?? O que é?</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="assets/imgs/home1.png" alt="Família Alien" class="imagensHome">
    </div>
    <div class="col-md-6 text-center d-flex align-items-center justify-content-center">
        <div>
            <h2>Gerar entusiasmo</h2>
            <p>Quais são os fatos mais interessantes sobre a sua empresa? Conte aqui.</p>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6 text-center d-flex align-items-center justify-content-center">
        <div>
            <h2>Criar interesse</h2>
            <p>Conte algo interessante sobre seu negócio aqui.</p>
        </div>
    </div>
    <div class="col-md-6">
        <img src="assets/imgs/home2.png" alt="Faraós Tomando Uma" class="imagensHome">
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <img src="assets/imgs/home3.png" alt="Aliens Happy Hour" class="imagensHome">
    </div>
    <div class="col-md-6 text-center d-flex align-items-center justify-content-center">
        <div>
            <h2>Dê destaque a um produto ou serviço</h2>
            <p>Mostre um produto ou serviço em particular.</p>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6 text-center d-flex align-items-center justify-content-center">
        <div>
            <h2>Dê destaque a um produto ou serviço</h2>
            <p>Mostre um produto ou serviço em particular.</p>
        </div>
    </div>
    <div class="col-md-6">
        <img src="assets/imgs/home4.png" alt="Cerva na Natureza" class="imagensHome">
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h2>Entre em contato pelo Whats</h2>
        <p>Tel: (00) 12345-6789.</p>
    </div>
</div>