<div class="hero-image text-center d-flex align-items-center justify-content-center">
    <div>
        <h1 class="display-1 corBranca bordaLetraRoxaMenor">Bem-vindo à Navhi Interstellar!</h1>
        <h2 class="corBranca bordaLetraRoxaMenor">Viaje pelo universo, sem sair do seu copo.</h2>
        <div class="social-icons mt-3">
            <a href="https://www.instagram.com/navhi.lab/" aria-label="Navhi Facebook Link" class="social-icon-link"
                target="_blank"><i class="fa fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/navhi.lab/" aria-label="Navhi Twitter Link" class="social-icon-link"
                target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/navhi.lab/" aria-label="Navhi Instagram Link" class="social-icon-link"
                target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://wa.me/+557598361956" aria-label="Navhi WhatsApp Link" class="social-icon-link"
                target="_blank"><i class="fa fa-whatsapp"></i></a>
        </div>
    </div>
</div>
<div class="corFundoRoxa">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="corBranca">Deguste uma experiência de outros mundos</h2>
        </div>
    </div>
</div>

<div class="row first-row-home">
    <div class="col-md-6 order-2 order-md-2">
        <img src="assets/imgs/home1.avif" alt="Família Alien" class="imagensHome" width="636" height="636">
    </div>
    <div class="col-md-6 text-center d-flex align-items-center justify-content-center order-1 order-md-2">
        <div>
            <h2>Experimente Nossas Cervejas</h2>
            <p>Viaje por um universo de sabores com nossas cervejas artesanais. Aqui, as tradições cervejeiras da Terra se
                encontram com ingredientes cósmicos para criar elixires únicos, dignos das melhores festas
                intergalácticas. Se você procura por sabores que vão além deste mundo, acaba de aterrissar no lugar
                certo. Brinde à aventura e embarque conosco nesta jornada interplanetária!</p>
        </div>
    </div>
</div>


<div class="row mt-5">
    <div class="col-md-6 text-center d-flex align-items-center justify-content-center order-1 order-md-1">
        <div>
            <h2>Kemet Black IPA: A Eterna Inspiração da Terra Preta</h2>
            <p>KEMET, a Terra Preta, é uma terra sagrada onde diversas cores de seres de todos os cantos do universo se
                uniram para nos presentear com uma civilização esplêndida. Nesse espírito de diversidade e união, nasce
                a KEMET Black IPA, uma cerveja que celebra essa herança cósmica.</p>

            <p>Elaborada com o lúpulo especial African Queen e um blend exclusivo de maltes, esta IPA única é um tributo
                à evolução das cervejas. Seu sabor harmonioso apresenta notas sutis de café, proporcionando uma
                experiência única e memorável. "A cerveja da cor da pele e do sabor
                celestial"</p>
        </div>
    </div>
    <div class="col-md-6 order-2 order-md-2 position-relative">
        <img src="assets/imgs/kemet.avif" alt="Cerva na Natureza" class="imagensHome" width="636" height="636">
        <button type="button" class="botaoNavhiBranco img-button" (click)="redirectToWhatsApp()">Eu quero!</button>
    </div>
</div>


<div class="row mt-5">
    <div class="col-md-6 order-2 order-md-1 position-relative">
        <img src="assets/imgs/therra.avif" alt="Aliens Happy Hour" class="imagensHome" width="636" height="636">
        <button type="button" class="botaoNavhiBranco img-button" (click)="redirectToWhatsApp()">Eu quero!</button>
    </div>
    <div class="col-md-6 text-center d-flex align-items-center justify-content-center order-1 order-md-2">
        <div>
            <h2>Conheça a Therra Ale</h2>
            <p>A Cerveja da Alquimia Cósmica para Terráqueos. Nossa cerveja é uma ode à harmonia entre a Terra e o
                cosmos, trazendo uma experiência suave e inesquecível. Ela combina notas delicadas de abacaxi que
                acariciam o paladar, enquanto preserva a inebriante essência dos lúpulos colhidos nos confins do espaço
                sideral.</p>
            <p>O segredo da ausência de glúten está nas enzimas singulares provenientes do enigmático planeta Darathas,
                que atuam com precisão para remover o glúten sem comprometer a riqueza e a complexidade de sabores desta
                cerveja. Assim, sua experiência continua a ser uma jornada sensorial genuína.</p>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6 text-center d-flex align-items-center justify-content-center order-1 order-md-1">
        <div>
            <h2>Cerveja Interstellar</h2>
            <p>Descubra o segredo galáctico por trás de cada gole: Navhi Interstellar, onde a arte cervejeira encontra o
                infinito cósmico.</p>
        </div>
    </div>
    <div class="col-md-6 order-2 order-md-2">
        <img src="assets/imgs/home2.avif" alt="Faraós Tomando Uma" class="imagensHome" width="636" height="636">
    </div>
</div>