h1, h2 { 
    font-family: 'NavhiFont';
    color: #875a3d;  // Um marrom para dar um toque de madeira/cervejaria.
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p {   
    font-family: 'NavhiFont';
    color: #6b6b6b;
  }

  .hero-image {
    background: url('../../assets/imgs/Background-Alien.png') center center no-repeat;
    background-size: cover;  // Isso fará com que a imagem cubra toda a div
    height: 1000px;;  // Ajuste conforme necessário, 80vh irá ocupar 80% da altura da janela    
  }

  .imagensHome {
    background-size: cover;
    border: solid 50px;
    color: rgb(33, 0, 45) !important;
  }

  .letraBranca {
    color: white !important;
  }