<div class="hero-image text-center d-flex align-items-center justify-content-center">
    <div>
        <h1 class="display-1 corBranca bordaLetraRoxaMenor">Bem-vindo à Navhi Interstellar!</h1>
        <p class="lead corBranca bordaLetraRoxaMenor fs-rem-25">Viaje pelo universo, sem sair do seu copo.</p>
        <div class="social-icons mt-3">
            <a href="https://www.instagram.com/navhi.lab/" aria-label="Navhi Facebook Link" class="social-icon-link" target="_blank"><i class="fa fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/navhi.lab/" aria-label="Navhi Twitter Link" class="social-icon-link" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/navhi.lab/" aria-label="Navhi Instagram Link" class="social-icon-link" target="_blank"><i class="fa fa-instagram"></i></a>            
            <a href="https://wa.me/+557598361956" aria-label="Navhi WhatsApp Link" class="social-icon-link" target="_blank"><i class="fa fa-whatsapp"></i></a>
        </div>
    </div>
</div>
<div class="corFundoRoxa">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="letraBranca">Deguste uma experiência de outros mundos</h1>
        </div>
    </div>
</div>

<div class="row description">
    <div class="col-md-6 order-2 order-md-2">
        <img src="assets/imgs/home1.avif" alt="Família Alien" class="imagensHome">
    </div>
    <div class="col-md-6 text-center d-flex align-items-center justify-content-center order-1 order-md-2">
        <div>
            <h2>Experimente Nossos Chopps</h2>
            <p class="fs-rem-15">Viaje por um universo de sabores com nossos chopps artesanais. Aqui, as tradições cervejeiras da Terra se encontram com ingredientes cósmicos para criar elixires únicos, dignos das melhores festas intergalácticas. Se você procura por sabores que vão além deste mundo, acaba de aterrissar no lugar certo. Brinde à aventura e embarque conosco nesta jornada interplanetária!</p>
        </div>
    </div>
</div>


<div class="row mt-5">
    <div class="col-md-6 text-center d-flex align-items-center justify-content-center order-1 order-md-1">
        <div>
            <h2>Kemet: A Relíquia Líquida do Antigo Egito</h2>
            <p class="fs-rem-15">Mergulhe nas profundezas do Egito antigo com a nossa Black IPA "Kemet". Inspirada na rica história e misticismo dos faraós, Kemet te convida a explorar um mundo onde o escuro se encontra com o divino. Com seus 7,2% ABV, ela carrega a robustez e a alma de monumentos milenares, enquanto seus 65 IBU garantem um amargor que ressoa como os ecos das antigas pirâmides. Uma cerveja para quem ousa desvendar os segredos dos deuses cervejeiros do Nilo.</p>
        </div>
    </div>
    <div class="col-md-6 order-2 order-md-2">
        <img src="assets/imgs/kemet.avif" alt="Cerva na Natureza" class="imagensHome">
    </div>
</div>


<div class="row mt-5">    
    <div class="col-md-6 order-2 order-md-1">
        <img src="assets/imgs/therra.avif" alt="Aliens Happy Hour" class="imagensHome">
    </div>
    <div class="col-md-6 text-center d-flex align-items-center justify-content-center order-1 order-md-2">
        <div>
            <h2>Conheça a Therra Ale</h2>
            <p class="fs-rem-15">Apresentando a Therra - nossa estelar Pale Ale Sem Glúten. Com um suave 4,9% ABV e 21 IBU, essa joia cósmica oferece um sabor mais leve que desliza pelo paladar. Mesmo que cervejas amargas não sejam sua primeira escolha, a Therra é irresistível. Uma experiência intergaláctica que agrada a todos os seres do universo!</p>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6 text-center d-flex align-items-center justify-content-center order-1 order-md-1">
        <div>
            <h2 class="">Chopp Interstellar</h2>
            <p class="fs-rem-15">Descubra o segredo galáctico por trás de cada gole: Navhi Interstellar, onde a arte cervejeira encontra o infinito cósmico.</p>
        </div>
    </div>
    <div class="col-md-6 order-2 order-md-2">
        <img src="assets/imgs/home2.avif" alt="Faraós Tomando Uma" class="imagensHome">
    </div>
</div>

